<a href="https://colab.research.google.com/github/Sanjida-Akter-Bithi/BRACU_CSE110/blob/main/Lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1
a=[]
for i in range(5):
  b=int(input())
  a+=[b]
  print(f"Numbers in the list:{a}")

3
Numbers in the list:[3]
5
Numbers in the list:[3, 5]
34
Numbers in the list:[3, 5, 34]
-11
Numbers in the list:[3, 5, 34, -11]
0
Numbers in the list:[3, 5, 34, -11, 0]

In [ ]:
#Task 2
x=input()
a=x.split(",")
for i in range(len(a)):
  a[i]=int(a[i])
if(len(a)>=4):
  print(a[2:-2:])
else:
  print("Not possible")

10, 20, 24, 25
[]

In [ ]:
#Task 2
x=input()
x+=","
a=[]
b=""
for i in x:
  if i !=" ":
    if i!=",":
      b+=i
    else:
      a+=[int(b)]
      b=""

if(len(a)>3):
  print(a[2:-2])
else:
  print("Not possible")

10, 20, 24, 25
[]

In [ ]:
#Task 3
a=[]
for i in range(5):
  b=int(input())
  a+=[b]
c=a[-1::-1]
print("Printing values from the list in reverse order:")
for i in c:
  print(i)

5
-5
100
1
0
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
#Task 4
a=[1, 2, 3, 4, 5, 6, 7]
b=[]
for i in a:
  b+=[i**2]
print(b)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Task 5
a=["hey", "there", "", "what's", "", "up", "", "?"]
b=[]
for i in a:
  if i=="":
    pass
  else:
    b+=[i]
print(b)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task 6
a = input()
a+=","
b=""
c = []

for i in a:
  if i!=",":
    b+=i
  else:
    c+=[int(b)]
    b=""

largest = c[0]
indx = 0

for i in range(len(c)):
  if c[i] > largest:
    largest = c[i]
    indx = i

print(f"My list: {c}")
print(f"Largest number in the list is {largest} which was found at index {indx}.")

7,13,2,10,6,-11,0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1.

In [ ]:
#Task 7
List_one = [1, 4, 7, 5]
List_two = [6, 1, 3, 9]

List_one[-1:] = List_two

print(List_one)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#task 8
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
new_list = []

for count in range(0,len(list_one)):
  if list_one[count] % 2 == 0:
    new_list.append(list_one[count])

for count in range(0,len(list_two)):
  if list_two[count] % 2 == 0:
    new_list.append(list_two[count])

print(new_list)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Task 9
a = input()
a+=" "
b=""
c = []

for i in a:
  if i!=" ":
    b+=i
  else:
    c+=[int(b)]
    b=""
d=[]
for i in c:
  if i%2==0:
    pass
  else:
    d+=[(int(i))]


print(c)
print(d)

7 12 4 55 96 2 11 61 33 42
[7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
[7, 55, 11, 61, 33]

In [ ]:
#task 10
a_list = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
new_list = []

for count in range(0,len(a_list)):
  if a_list[count] not in new_list:
    new_list.append(a_list[count])

print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Task 11
List_one = [1, 4, 3, 2, 5]
List_two = [8, 7, 6, 9]
common = False
for i in List_one:
  if i in List_two:
    common = True
    break
print(common)

False