<a href="https://colab.research.google.com/github/Sanjida-Akter-Bithi/BRACU_CSE110/blob/main/Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#task 1 c
a=18
while a<= 63:
  if a>63:
    break
  if a==63:
    print(a)
  else:
    print(a,end=(","))
  a+=9

18,27,36,45,54,63

In [ ]:
#task 1-d
"""a=18
while a<= 63:
  if a>63:
    break

  if a==63:
    print(a)
  else:
    print(a,end=(","))
  a+=9"""

for i in range(18,64,9):
  if i==63:
    print(-i,end="")
  elif i%2!=0:
    print(-i,end=(","))

  else:
    print(i,end=",")

18,-27,36,-45,54,-63

In [ ]:
#Task 2
a=input()
b=int(input())
for i in range(b):
  print(a)

toyota
2
toyota
toyota

In [ ]:
#Task 3
sum=0
for i in range (601):
  if i%7==0 and i%9==0 :
    sum=sum+i
print(sum)

2835

In [ ]:
#task 4
sum=0
for i in range(601):
  if i%7==0 and i%9==0 :
    pass
  elif i%7==0 or i%9==0:
    sum=sum+i
print(sum)

39814

In [ ]:
#Task 6
n=int(input())
sum=0
for i in range(n+1):
  if i%2!=0:
    sum=sum+ i*i
  else:
    sum+= i*i*(-1)
print(sum)

10
-55

In [ ]:
#task 7
odd=0
count=0
for i in range(1,11):
  a=int(input())
  if(a%2!=0):
    count+=1
    odd+=a
print("The Total of the Odd num is =",odd,"and their avarage is =", odd/count)

1
2
3
4
5
6
7
8
9
10
The Total of the Odd num is = 25 and their avarage is = 5.0

In [ ]:
#task 8
n=int(input())
sum=0
for i in range(n+1):
  if i%7==0:
    sum+=i
print(sum)

50
196

In [ ]:
#Task 9
sum=0
for i in range(5):
  n=int(input("enter a number: "))
  sum+=n
  print(sum)

enter a number: 1
1
enter a number: 2
3
enter a number: 3
6
enter a number: 4
10
enter a number: 5
15

In [ ]:
#task 10
a=int(input())
while a>0:
  if a<10:
    print(a)
  else:
    print(a%10,end=",")
  a=a//10

32768
8,6,7,2,3

In [ ]:
#task 11
n=int(input())
count=0
while n>0:
  n=n//10
  count+=1
print(count)

9876
4

In [ ]:
#task 19
a=int(input(""))
for i in range(1,a+1):
  for j in range (1,i+1):
    print(j,end="")
  print()

5
1
12
123
1234
12345